<div class="spacer"></div>
<div class="spacer"><h3> Host / Partner login</h3></div>
<form class="example-form">
  <p>
  <mat-form-field appearance="legacy">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon svgIcon="thumbs-up"></mat-icon>
    
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon svgIcon="thumbs-up"></mat-icon>
    
  </mat-form-field>
  </p>
  
  <p>
  <button mat-raised-button color="primary">Sign in</button>
  </p>
  <p>
  <button mat-button>Forgot password</button>
  </p>
<form class="example-form">
<div class="spacer"></div>
<p>
 <!-- <button mat-button >Sign up</button>  -->
   To become a host & bring the multiple internet players to your locality Call 76 76 799 222
</p>

